[package]
name = "redis-async"
version = "0.7.1"
authors = ["Ben Ashford <benashford@users.noreply.github.com>"]
license = "MIT/Apache-2.0"
readme = "README.md"
description = "An asynchronous futures based Redis client for Rust using Tokio"
repository = "https://github.com/benashford/redis-async-rs"
keywords = ["redis", "tokio"]
edition = "2018"

[dependencies]
bytes = "^0.6.0"
log = "^0.4.11"
futures-channel = "^0.3.7"
futures-sink = "^0.3.7"
futures-util = "^0.3.7"
tokio = { version = "^0.3.2", features = ["net", "time"] }
tokio-util = { version = "^0.5", features = ["codec"] }

[dev-dependencies]
env_logger = "^0.8.1"
futures = "^0.3.7"
tokio = { version = "^0.3.2", features = ["full"] }
